@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .infoText {
    @apply p-4 bg-gray-white rounded-lg max-w-[250px];
  }
  .chatRow {
    @apply rounded-lg px-5 py-3 text-sm flex items-center justify-center space-x-2 hover:bg-gray-700/70 cursor-pointer text-gray-700 transition-all duration-200 ease-out;
  }
}
/* Hide scrollbar arrows */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track-piece {
  background-color: #F7FAFC;
}

::-webkit-scrollbar-thumb {
  background-color: #777777;
  border-radius: 3px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-button {
  display: none;
}
